.header-buttons {
    position: absolute;
    right: 10px;
    top: 8px;
}

.btn-green {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
    margin-right: 3px;
    width: 150px;
}

.btn-blue {
    background-color: lightblue !important;
    border-color: lightblue !important;
    margin-right: 3px;
    width: 40px;
}

.btn-red {
    background-color: indianred !important;
    border-color: indianred !important;
    margin-right: 3px;
    width: 40px;
}

#search-box {
    margin-bottom: 0px;
}

.card  {
    border-radius: 30px !important;
}

#search-content {
    display: flex;
    justify-content: center;
}

.table-row {
    cursor: pointer;
}

.selected {
    background-color: lavender;
}

.rmdp-container  {
    display: block !important;
    width: 100%;
}

#date-picker-class {
    border: 1px solid #c0c4d6 !important;
    border-radius: 5px !important;
    height: 36px !important;
    margin: 1px 0 !important;
    padding: 2px 5px !important;
}