#home-teacher {
    color: #7A67C7 !important;
}

#icon-teacher {
    color: #FFBF08 !important;
}

#topcard-teacher {
    background-color: #FFF8E5 !important;
}

#topcard-user {
    background: #1FFCEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#content {
    background-color: #ffffff;
}

#btn-create-teacher-level {
    background: #4946F3 !important;
    border-radius: 30px !important;
    width: auto;
}


#content-button-create-teacher-level {
    align-items: center !important;
    justify-content: center !important;
    justify-items: center !important;
}

#level-teacher {
    color: #7A67C7 !important;
    font-size: 20px;
    margin-left: 16px;
}

#full-name {
    color: #FF7701;
}

#username-teacher {
    color: rgba(0, 0, 0, 0.5);
}

#icon-user {
    color: #6789CA !important;
}

#icon-phone {
    color: #4F14F8 !important;
}

#phone {
    padding-left: 20px;
}

#btn-into-class-student {
    background-color: #4F14F8 !important;
}

#btn-into-room {
    background-color: #14f846 !important;
}

#icon-arrow-right {
    color: #ffffff !important;
}

#table-thread-exercise-section {
    background-color: #F3F81C !important;
}

.name-row-table {
    color: #FF7701;
}

.data-table {
    color: #B51CEB;
}

#btn-edit-tutorial {
    background: #0466FA;
    border-radius: 30px;
}

#btn-add-exercise {
    background: #18FA04;
    border-radius: 30px;
}

#normal-tutorial {
    background: #C3DFF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#btn-view-tutorial {
    background: #E408E9;
    border-radius: 30px;
}

.image-exercise {
    max-height: 56px;
    max-width: 100px;
}