.white-breadcrumb {
    background-color: white !important;
    margin-top: 15px !important;
}

.portlet {
    max-height: 350px;
}

#home-teacher  {
    cursor: pointer;
}

.breadcrumb-item {
    cursor: pointer;
}

#teacher_navbarx {
    background-color: #ffffff !important;
    width: 100%;
}

#teacher_navbar {
    background-color: #ffffff !important;
}

.logout-btn {
    cursor: pointer;
}

#teacher_breadcrumb {
    background-color: #ffffff !important;
    border-radius: 50px !important;
}

.teacher-breadcrumb-item a{
    color: #7A67C7 !important;
    font-size: 50px;
}