.list-notify {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 0.2px ridge;
}

.list-notify li {
    border-bottom: 1px !important;
}

.notification {
    min-width: 500px !important;
}

.dropdown-item {
    cursor: pointer;
}